button
{
   padding: 1.5em;
   border-radius: 0.3em;
}

button:focus
{
   outline: 0;
}

p
{
   font-family: Verdana;
}

div
{
   width: 20px;
   height: 20px;
   border: 2px solid black;
   background-color: yellow;
   display: inline-block;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}